%flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

%flex-centered-vertically {
  @extend %flex;
  align-items: center;
}

%flex-centered-horizontally {
  @extend %flex;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if ($breakpoint == x-small) {
    @media (max-width: 300px) {
      @content;
    }
  }
  @if ($breakpoint == small) {
    @media (max-width: 320px) {
      @content;
    }
  }
  @if ($breakpoint == medium) {
    @media (max-width: 360px) {
      @content;
    }
  }
}
